# dependencias
node_modules/

# logs
yarn-error.log

# variables de configuracion
.env
.env.test
.env.*.json
!.env.sample.json

# resultados de pruebas y covertura
coverage
.nyc_output

# construcciones
build/
