{
  "env": "sample",
  "port": 1234,
  "app": {
    "name": "AppName",
    "description": "Api en ambiente desarrollo",
    "owner": "Lindo Hermoso Soft.",
    "supportEmail": "lindo@hermoso.com",
    "url": "http://localhost:XXXX",
    "urlDescription": "Server dev",
    "secretKey": "2zMpWL3EXXIzIbFX16MiJYdH32G7OOuW",
    "accessTokenExpirationTime": "1d",
    "pathResetPassword": "auth/reset-password",
    "urlClient": "http://localhost:3000",
    "logging": false
  },
  "db": {
    "dialect": "mysql",
    "host": "localhost",
    "port": 3306,
    "name": "sample_db",
    "user": "root",
    "password": "abc123",
    "sync": "alter",
    "logging": true
  },
  "smtp": {
    "service": "gmail",
    "host": "smtp.gmail.com",
    "user": "lindo@gmail.com",
    "password": "Abc123."
  },
  "sendGrid": {
    "templateId": "",
    "apiKey": ""
  }
}
