{
  "env": "sample",
  "port": 1234,
  "db": {
    "dialect": "mysql",
    "host": "localhost",
    "port": 3306,
    "name": "sample_db",
    "user": "root",
    "password": "abc123",
    "sync": "alter"
  }
}
