{
  "env": "sample",
  "port": 1234,
  "app": {
    "name": "AppName",
    "secretKey": "jg8dsyu4kf0sedshf67sg68f8hbnjttj"
  },
  "db": {
    "dialect": "mysql",
    "host": "localhost",
    "port": 3306,
    "name": "sample_db",
    "user": "root",
    "password": "abc123",
    "sync": "alter"
  }
}
